* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
   
     
}

.logo {
    width: 80px;
    height: 80px;
    ;
    
}

h1 {
    font-size: 50px;
    line-height: 65px;
    color: black;
}

h2 {
    font-size: 40px;
    line-height: 45px;
    color: black;
}

h3 {
  font-size: 20px;  
  color: black;
}

p {
    font-size: 20px;
    color: darkgray;
    margin: 15px 0 20px 0;
}


#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    
    /* background: url(/static/img/headeralt1.jpeg);
    background-position: 2px;
    background-size: cover;
    opacity: 0.5; */
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#navbar li {
     
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: white;
    transition: 0.5s ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: #524636;
     
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 18px;
    bottom: -4px;

}

#banner {
    background-image: url(/static/img/bannneralt.png);
    height: 50vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner h2 {
    margin: auto;
    padding:5px ;
    color: white;
    background: rgba(0, 0, 0, 0.4);

}

#banner h4 {
    color: white;
    background: black;
}

#product1 .pro-container-box{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
    

}
#product1 .pro-container{
    /* display: flex;
    justify-content: space-between; */
    padding-top: 20px;
    
}

/* #product1 .section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} */
#product1 .pro {
     
    width: 55%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 20px 0px 20px #c9bbae;
    margin: 15px 0;
 
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px #eeebe7;
}
#product1 .pro img{
    width: 100%;
    height: 250px;
    border-radius: 15px;

}

.design{
    padding: 4.5rem 0;
}

.title{
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-family: var(--Playfair);
    font-size: 2.5rem;
    width: 90%;
}

.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.design-content{
    margin: 1.5rem 0;
    cursor: pointer;
}

.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}

.design-image{
    position: relative;
    overflow: hidden;
    width: 80%;
    
}

.design-image::after{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

.design-image img {
    transition: all 0.2s ease;
    width: 700px;
    height: 500px;
}

.design-item:hover img{
    transform: scale(1.1);
}

.design-image span:first-of-type{
    position:absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: black;
    padding: 0.25rem 1rem;
}

.design-image span:last-of-type{
    position:absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: black;
    font-weight: 800;
    font-size: 1.1rem;
    padding: 0.25rem 1rem;
}

.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    left: 0;

}

.articles {
    margin: auto;
    width: 50%;
}
.design-title p{
    color: var(--dark);
    text-transform: capitalize;
    font-family: var(--Playfair);
}

footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.social-links a {
    border: 2px;
    color: white;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.6s ease;
}
.social-links a:hover{
    background:  white;
    color: black;
}

footer span{
    margin-top: 1rem;
    display: block;
    letter-spacing: 2px;
}

.signupspace{
    height: 500px;
    width: 1000px; 
}

.loginspace{
    height: 600px;
}

.flash-shop p{
    color: green;
}

.flash-fail p{
    color: red;
}

.login h1{
    
    padding: 10px;
    font-size: 40px;
    margin: 35px;
}

.loginform {
    margin: 35px;
}
 
.createform{
    margin: 35px;
}

.newuser{
    margin: 35px;
 
}

.newuser h1 {
    font-size: 30px;
}

.loginbody {
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-blend-mode: 
    
}

#product1  h2 {
    font-size: 30px;
}

#product1  p {
    font-size: 20px;
    color: #524636;
    
}