<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
    <title>Document</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="/static/img/logo.png" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="create">Create Account</a></li>
                
            </ul>
        </div>
    </section>
    <section id="banner">
        <h2>The Platform for Personal Style</h2>
        <h4>Buy and Discover authenticated pieces from the world's Top brands.</h4>
 
    </section>
    <section id="banner2">
        <div class="box-banner">
            <h4>Featured Blogs</h4>
            <h1>Need to add blogs here</h1>
        </div>
    </section>
 
     

    <script src="script.js"></script>
</body>
</html>