<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  
    <title>Document</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="/static/img/logo.png" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="loginpage">Login</a></li>
                <li><a href="createpage">Create Account</a></li>
                
            </ul>
        </div>
    </section>
    <section id="banner">
        <h2>The Platform for Personal Style</h2>
        <h4>Buy and Discover authenticated pieces from the world's Top brands.</h4>
    </section>
    <section class="design" id="design">
        <div class="container">
            <div class="title">
                <h2>ON DEMAND</h2>
      
            </div>
        </div>
    </section>
    <div class="articles">
        <div class="design-content">
            <div class="design-item">
                <div class="design-image">
                    <img src="/static/img/blog1.png" alt="">
                    <span><i class="far fa-heart"></i>12</span>
                        <div class="design-title">
                            <p>2022 Holiday Gift Guide</p>
                        </div>
                            
                </div>
            </div>
        </div>
        <div class="design-content">
            <div class="design-item">
                <div class="design-image">
                    <img src="/static/img/blog2.png" alt="">
                    <span><i class="far fa-heart"></i>30</span>
                        <div class="design-title">
                            <p>Practice makes perfect: celebrating Tom Dixon Twenty</p>
                        </div>
                            
                </div>
            </div>
        </div>
        <div class="design-content">
            <div class="design-item">
                <div class="design-image">
                    <img src="/static/img/blog3.png" alt="">
                    <span><i class="far fa-heart"></i>22</span>
                        <div class="design-title">
                            <p>Dress For Y2K(AGAIN)</p>
                        </div>
                            
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <span>K.A Designs by vish</span>
    </footer>
    
</body>
</html>