<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaw</title>
</head>
<body>
    <h1>Kaw Ateliar</h1>

    <div id="top-nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Login</a>
    </div>
    <h2>Products</h2>
    <div class="products">
        <div class="card">ONE</div>
        <div class="card">TWO</div>
        <div class="card">THREE</div>
        <div class="card">FOUR</div>

    </div>


    
</body>
</html>