<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-A</title>
</head>
<body>
    <h1>Kaw Ateliar</h1>

    <div id="top-nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Login</a>
    </div>
    <h2>Products</h2>
    <div class="products">
        
        {% for id, name, price, image_url in product_items %}
        <div class="card">
            <p>{{name}}</p>
            <p>{{price}}</p>
            <img src="{{image_url}}">
        </div>
        {% endfor %}
        
        

    </div>


    
</body>
</html>