<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body class="loginbody">
    <section id="header">
        <a href="#"><img src="/static/img/logo.png" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a class="active"  href="loginpage">Login</a></li>
                <li><a href="createpage">Create Account</a></li>
                
            </ul>
        </div>
    </section>
    <div class="login"><h1>Login Page</h1></div>
    
    <div class="flash-fail">
        {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
        {% endfor %}
    </div>
    <div class="loginform">
        <form action="/login" method="post">
            <label>Email: <input type="text" name="email" value="{{email}}"></label>
            <label>Password: <input type="password" name="password" value="{{password}}"></label>
            <input type="submit">
        </form>
    </div>

    <div class="loginspace">
        

    </div>
    <footer>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <span>K.A Designs by vish</span>
    </footer>
</body>
</html>