<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <section id="header">
        <a href="#"><img src="/static/img/logo.png" class="logo" alt="logo"></a>
        <div>
            <ul id="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a class="active"  href="login">Login</a></li>
                <li><a href="create">Create Account</a></li>
                
            </ul>
        </div>
    </section>
    <h1>Login Page</h1>
    <a href=""></a>
</body>
</html>